<footer class ="container-center" id = "footer">
     <div class="container" id = "footercss">
     	<br>
    	<div class = "nav navbar-left">
    		<%= link_to "sejong university club", '#', id: "" %>
    	</div>
    	<div class = "nav navbar-right">
    		<p> copyright(c)2015 All Fatdog All rights reserved </p>
    	</div>
</footer>