// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sign_up {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-bottom: 20px;
	padding-top: 20px;
	width: 600px;
	min-height: 40%;
}
